#section1{
  background: linear-gradient(45deg,  #BC52C3,#F6935A)
}

.purple{
  color: #982297
}

#section4 {
  background: linear-gradient(2deg,#E37E7A, #D76182)
}

#section5 {
  background: linear-gradient(2deg, #D76182,#E37E7A)
}
