@font-face {
  font-family: 'Circular';
  src: url("CircularStd-Book.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: 'Circular';
  src: url("CircularStd-Bold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: 'Circular';
  src: url("CircularStd-Black.otf") format("opentype");
  font-weight: 700;
}

html {
	height: 100%;
  overflow-x: hidden;
}

body {
  background: linear-gradient(0deg, rgba(21,203,206,1) 0%, rgba(35,117,124,1) 22%, rgba(39,93,101,1) 35%, rgba(43,69,78,1) 50%, rgba(45,56,66,1) 61%, rgba(46,46,56,1) 75%);
	font-family: 'Open Sans Bold', sans-serif;
	font-style: normal;
	line-height: 3;
	font-size: 18px;
	color: #f0c020;
  word-spacing: 5px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
	overflow-x: hidden;
}

a {
  color: #f0c020;
  font-weight: 600;
  text-decoration: none;
  }

a:hover {
  color: white;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.content__section4 a {
  color: #f0c020;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 70px;
  text-transform: uppercase;
}

h2 {
  font-size: 25px;
  font-weight: 600;

}

p {
  max-width: 500px;
  margin: 0 auto;
  font-size: 20px;
  margin-bottom: 30px;
  color: white;
  opacity: 0.9;
}


button {
  border-radius: 15px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: .8px;
  color: #f0c020;
  border-color: #f0c020;
  margin-left: 445px;
  margin-top: -15px;
  background-color: inherit;

}

.button {
  padding: 2px 55px;
}
.content__text {
  width: 750px;
  margin: auto;
  text-align: left;
}

.description {
	font-size: 20px;
	margin-bottom: 30px;
	color: #E4E5EA;
	padding-top: 0;
}

.title {
  font-size: 2.3em;
  line-height: 1.2;
  padding-bottom: 15px;
}


hr {
  border-top: 1px solid #B2B2B2;
  border-bottom: 1px solid #B2B2B2;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

img {
  pointer-events: none; /* disable dragging images */
}

.logo {
    display: inline-block;
    vertical-align: top;
    width:60px;
    margin-right: 20px;
    margin-top: 15px;
    margin-left: 30px;
}

.cover {
  height: 100vh;
}

.background {
  height: 100vh;
}

.cover__container {
  margin-top: 12vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.background {
	background-image: url(../img/pattern3.png);
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
}


/* SOCIAL ICONS */
.icon__container {
  margin-top: 20px;
  opacity: 0.65;
}

.social__icon {
  height: 35px;
  width: auto;
}


/* RESPONSIVENESS */
@media (max-width: 980px) {
  .cover {
    height: 95vh;
    padding: 0 30px 0 30px;
  }

	.cover_container {
    width: 80vh;
		padding: 0 20px;
	}

  p {
    font-size: 20px;
    margin-bottom: 10px;
  }

}


/*@media all and (max-width: 600px) {*/
@media (max-width: 600px) {
  p {
    font-size: 16px;
  }

	h1 {
    font-size: 33px;
    line-height: 50px;
	}

  h2 {
    font-size: 24px;
    line-height: 30px;

  }

  #date-container {
    width: 200px;
    margin: 0 auto;
  }


  .title {
    font-size: 1.8em;
  }

/*tessting*/
