.nav-fixed-top{
  position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

#section1{
  /*background: linear-gradient(45deg,  #BC52C3,#F6935A);*/
  /*background:  url('../img/jeff-1.png'), linear-gradient(45deg,  #BC52C3,#F6935A);*/
  background: linear-gradient(0deg, rgba(21,203,206,1) 0%, rgba(35,117,124,1) 22%, rgba(39,93,101,1) 35%, rgba(43,69,78,1) 50%, rgba(45,56,66,1) 61%, rgba(46,46,56,1) 75%);
  background-repeat:no-repeat;
  background-position: 80% 100%;
  color: #f0c020;
}

#section-about{
  background-color: white;
  background-image: url(...static/img/whack-logos/logo gray.png);
  background-repeat: no-repeat;
  background-position: left;
}

#section1-title, #section4-title{
    color: white
}

#section1-title{
  font-size: 80px
}
.graph{
  width = 100%
  z-index: 0;
  background-size: 100% 100%;
}
.purple{
  color: #982297;
}

.orange{
  color: #f0c020;
  /*font-size: 2rem*/
}

.gunmetal{
  color:#2E2E38;
}

.white{
  color: #DEE7EA;
}

.alumnae{
  text-decoration: none;
}

.orange-background{
  background-color: #F97352;
}

.yellow {
  color: #EFC247;
}

#section3-card{
  background: linear-gradient(2deg,#E66B8B, #CA69AA);
  color: white
}
#section3-stories{
  background:  url('../img/jeff-2.png');
  background-repeat:no-repeat;
  background-position: 20% 50%;
}

#section-joinus {
  /*background: linear-gradient(2deg,#E37E7A, #D76182);*/
  background: linear-gradient(#15CBCE, #2E2E38);
  font-size: 20px;

}

#section4-title {
  color: white
}

#section5-faq {
  background: linear-gradient(2deg, #DA4479,#E37E7A)
}

#section-schedule {
  background: :#2E2E38;
  background-repeat:no-repeat;
  background-position: right center;
  color: white;

}

#section7-title{
  color: #EF8261
}


.text-large{
  /*24px*/
  font-size: 1.5rem;
}

.text-medium{
  /*18px*/
  font-size: 1.125rem
}

.text-stories{
  margin-bottom: 8rem;
}

.text-small{
  /*16px*/
  font-size: 1rem
}

.column p{
  font-size: 14px
}

ul{
  list-style: none;
}

ul li:before {
  content: "\2023";
  padding-right: 15px
}
@media (max-width:432px) {
  #section1-title{
    font-size: 3.125rem
  }
  .text-small,.text-large,.text-medium{
    /*16px*/
    font-size: 1rem
  }

}

ul.text-large p{
  display: none;
  font-size: 1.25rem;
  padding: 1.25rem
}

#brenna{
  position: absolute;
    width: 13%;
    top: 53%;
    left: 67%
}

/* registration form */
#registration{
  background: linear-gradient(45deg,  #BC52C3,#F6935A);
  background:  url('../img/jeff-3.png'), linear-gradient(45deg,  #BC52C3,#F6935A);
  background-repeat: no-repeat;
  background-position: right 7%
}

#submitButton {
  border-radius:100px;
  background-color: transparent;
  height: 50px;
  width: 200px;
}

/*#here{
  background-color: #982297
}*/

#a-purple{
  font-weight: bold
}

#a2-purple{
  font-weight: bold
}

#registration-title{
  font-size: 48px;
  color: white
}
