.nav-fixed-top{
  position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

#section1{
  background: linear-gradient(45deg,  #BC52C3,#F6935A);
  background:  url('../img/jeff-1.png'), linear-gradient(45deg,  #BC52C3,#F6935A);
  background-repeat:no-repeat;
  background-position: 80% 100%;
  color: white;
}

#section1-title, #section4-title{
    color: white
}

#section1-title{
  font-size: 80px
}

.purple{
  color: #982297
}

.orange{
  color: #EF8261;
  font-size: 2rem
}

#section3-card{
  background: linear-gradient(2deg,#E66B8B, #CA69AA);
  color: white
}
#section3-stories{
  background:  url('../img/jeff-2.png');
  background-repeat:no-repeat;
  background-position: 20% 50%;
}

#section4-joinus {
  background: linear-gradient(2deg,#E37E7A, #D76182);
  color: white
}

#section4-title {
  color: white
}

#section5-faq {
  background: linear-gradient(2deg, #DA4479,#E37E7A)
}

#section6-schedule {
  background: linear-gradient(-5deg,#F5925C,#DA4479);
  background:  url('../img/jeff-3.png'), linear-gradient(-5deg,#F5925C,#DA4479);
  background-repeat:no-repeat;
  background-position: right center;
  color: white;

}

#section7-title{
  color: #EF8261
}


.text-large{
  /*24px*/
  font-size: 1.5rem;
}

.text-medium{
  /*18px*/
  font-size: 1.125rem
}

.text-stories{
  margin-bottom: 8rem;
}

.text-small{
  /*16px*/
  font-size: 1rem
}

.column p{
  font-size: 14px
}

ul{
  list-style: none;
}

ul li:before {
  content: "\2023";
  padding-right: 15px
}
@media (max-width:432px) {
  #section1-title{
    font-size: 3.125rem
  }
  .text-small,.text-large,.text-medium{
    /*16px*/
    font-size: 1rem
  }

}

ul.text-large p{
  display: none;
  font-size: 1.25rem;
  padding: 1.25rem
}

#brenna{
  position: absolute;
    width: 13%;
    top: 53%;
    left: 67%
}

#registration{
  background-image: url('../img/left_bar.png');
  background-size: 15% 100%;
  background-repeat: no-repeat;

}
