.nav-fixed-top{
  position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

#section1{
  /*background: linear-gradient(45deg,  #BC52C3,#F6935A);*/
  /*background:  url('../img/jeff-1.png'), linear-gradient(45deg,  #BC52C3,#F6935A);*/
  background: linear-gradient(0deg, rgba(21,203,206,1) 0%, rgba(35,117,124,1) 22%, rgba(39,93,101,1) 35%, rgba(43,69,78,1) 50%, rgba(45,56,66,1) 61%, rgba(46,46,56,1) 75%);
  background-repeat:no-repeat;
  background-position: 80% 100%;
  color: #f0c020;
}

#section-about{
  background-color: white;
  background-image: url("../static/img/whack-logos/logo gray.png");
  background-repeat: no-repeat;
  background-position: -200px 200px;
  background-size: 700px;
  padding-bottom: 50px;
}

#section-team-bios{
  background-color: white;
}

#section-sponsors{
  background-color: white;
}

#saturday{
  display: none;
}

#sunday{
  display: none;
}

#section1-title, #section4-title{
    color: white
}

#section1-title{
  font-size: 80px
}

#section-schedule{
  background-color: #2E2E38;
}

.graph{
  width = 100%
  z-index: 0;
  /* background-size: 100% 100%; */
  background-size: cover;
  margin-left: 0px;
  margin-right: 0px;
  opacity: 0.5;
}
.purple{
  color: #982297;
}

.gold{
  color: #f0c020;
  /*font-size: 2rem*/
}

.black{
  color: black;
}

.gunmetal{
  color:#6c757d;
  width: 670px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.white{
  color: #DEE7EA;
}

.alumnae{
  text-decoration: none;
}

.gold-background{
  background-color: #f0c020;
}

.yellow {
  color: #EFC247;
}

.orange{
  color: #F97352;
}
.orange-background{
  background-color: color: #F97352;
}

#section3-card{
  background: linear-gradient(2deg,#E66B8B, #CA69AA);
  color: white
}
#section3-stories{
  background:  url('../img/jeff-2.png');
  background-repeat:no-repeat;
  background-position: 20% 50%;
}

#section-join {
  /*background: linear-gradient(2deg,#E37E7A, #D76182);*/
  background: linear-gradient(#15CBCE, #2E2E38);
  font-size: 20px;

}

#section4-title {
  color: white
}

#section-faq {
  background: linear-gradient(#2E2E38, #15CBCE);
  /*background-image: url(".../static/img/graph.png");*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  /*background-position: bottom;*/
}

#section-schedule {
  background: :#2E2E38;
  background-repeat:no-repeat;
  background-position: right center;
  color: white;

}

#section7-title{
  /* color: #f0c020 */
}

.text-large{
  /*24px*/
  font-size: 1.2rem;
}

.text-medium{
  /*18px*/
  font-size: 1.125rem
}

.text-stories{
  margin-bottom: 8rem;
}

.text-small{
  /*16px*/
  font-size: 1rem
}

.column p{
  font-size: 14px
}

ul{
  list-style:none;
  margin:0;
  padding:0;
  /* overflow:scroll; */
}

#section-faq ul li:before {
  content: "\2022";
  padding-right: 15px;
  color: #EFC247;
  font-size: 2rem;
}

#section-faq ul li p{
  font-size: 1rem;
}

@media (max-width:432px) {
  #section1-title{
    font-size: 3.125rem
  }
  .text-small,.text-large,.text-medium{
    /*16px*/
    font-size: 1rem
  }

}

ul.text-large p{
  display: none;
  font-size: 1.25rem;
  padding: 1.25rem
}

#brenna{
  position: absolute;
    width: 13%;
    top: 53%;
    left: 67%
}

/* registration form */
#registration{
  background: linear-gradient(45deg,  #BC52C3,#F6935A);
  background:  url('../img/jeff-3.png'), linear-gradient(45deg,  #BC52C3,#F6935A);
  background-repeat: no-repeat;
  background-position: right 7%
}

#submitButton {
  border-radius:100px;
  background-color: transparent;
  height: 50px;
  width: 200px;
}

/*#here{
  background-color: #982297
}*/

#a-purple{
  font-weight: bold
}

#a2-purple{
  font-weight: bold
}

#registration-title{
  font-size: 48px;
  color: white
}
