body {
  margin: 0px;
  padding-bottom: 100px;
  background-color: #FBFBFB; /* light gray */
}

h3{
  color: #982297;
  font-size: 1.5em;
}

h5, p {
  color: black;
  text-align:left;
}

h5 {
  margin-bottom: 10px;
  font-size: 0.9em;
}

p {
  margin-bottom: 5px;
  font-size: 1rem
}

ul li {
  font-size: 0.8em;
}

.text-group {
  margin-bottom: 30px;
}

.text-group h3 {
  margin-bottom: 1rem;
  padding-bottom: 0;
}

#logo {
  width:28%;
  margin-top: 60px;
  margin-bottom: 20px;
}

#main {
  color: black;
}

.nav-side-menu {
  overflow: auto;
  background: linear-gradient(45deg,#B614C0,#EB8951);
  position: fixed;
  top: 0px;
  width: 270px;
  height: 100%;
}

.nav-side-menu .brand {
  line-height: 50px;
  display: block;
  text-align: center;
}

.nav-side-menu .toggle-btn {
  display: none;
}

.nav-side-menu li {
  padding: 20px;
  text-align: center;
}

.nav-side-menu li a {
  text-decoration: none;
  color: #E0E0E0; /* light gray */
}

.nav-side-menu li:hover {
  /*background-color: #282942; /* darker violet */*/
  color: white;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

img.photo {
  box-shadow: 0px 0px 5px #E6E6E6;
  padding: 10px;
  border-radius: 3px;
}

/* dayof.html */
.social {
  background-color: #FFF2DD;
  border-radius: 5px;
  padding: 20px 10px;
  margin: 0 40px 20px 0;
}

.social p {
  text-align: center;
}

/* schedule.html */
.day {
  width: 100%;
  margin-bottom: 5%;
}

.day h3 {
  text-align: left;
  padding-bottom: 20px;
}

.event__msg, .time {
  color: black;
}

.event-title {
  color: purple;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.event {
  margin-bottom: 30px;
  text-align: left;
  display: block;
}

.details {
  width: 80%;
  padding-left: 0;
}

.event__title {
  width: 100%;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: purple;
  margin-left: 0;
}

.event__location {
  font-size: 0.9em;
  margin-bottom: 15px;
}

#lulu-navigation p.room-name {
  font-size: 1em;
}

/* mentors.html */
.divTable{
	display: table;
	width: 85%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #E0E0E0;
	display: table-cell;
}

.divTableCell {
  padding: 20px;
}

/* prizes */
.prize-category {
  border: 2px solid #37BDEF;
  border-radius: 5px;
  padding: 35px 20px 50px 20px;
  margin: 0 40px 40px 0;
}

.prize-category h5 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* organizing team */
.team_member {
  border-radius: 3px;
  padding: 50px;
  margin: 25px 50px 25px 0;
  /*box-shadow: 0px 0px 5px #C8C8C8;*/
}

.team_member p {
  /*text-align: center;*/
  text-align: left;
}

.teammember_photo {
  margin-left: 20%;
  width: 50%;
  padding-bottom: 30px;
}

/*speaker*/

.speaker-container{
  display:flex;
  flex-direction:row;
  margin:1.5em 0
}

.speaker-category-title{
  margin:1em 0
}

.speaker-photo-container1{
  /*flex:1*/
  flex:0.5
}

.speaker-photo-container2{
  /*text-align: center;*/
  text-align: left;
}

.speaker-photo{
  /*width: 50%*/
  width: 80%
}

.speaker-text-container{
  flex:2;
  padding-left: 1em;
  padding-right: 2em

}

.speaker-title{
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
  font-weight: 600
}


.speaker-subtitle{
  font-size: 1.0rem;
  font-weight: 600 ;
  margin-bottom: 10px;
}

.speaker h3{
  font-size: 1.4em;
}
/* Responsiveness */
@media all and (max-width: 641px) {
  .date {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }

  .events {
    border:none;
    width: 100%;
    margin-top: 0;
  }

  .events-detail {
    padding: 0;
  }

  li.date p {
    margin:0;
  }
}

@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;

  }

  #main {
  	width:calc(100% - 300px);
  	float: right;
    padding: 50px 50px 0 50px;
  }
  .stories-photo-container {
    padding: 0px 0px 0px 0px;
  }

  .stories-photo{
    width: 87%;
  }

}

@media (max-width: 767px) {
  #logo {
    width: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .stories-photo-container {
    padding: 0px 0px 0px 0px;
  }

  .stories-photo-container {
    padding: 0px 0px 0px 0px;
  }
  #section-stories{
    text-align: center;
    padding-left: 15px
  }
  .stories-photo{
    width: 40%;
  }

  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }

  .nav-side-menu .toggle-btn {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 10 !important;
    padding: 3px;
    background-color: none;
    color: white;
    text-align: center;
  }

  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
  #social-media{
    display: none
  }
  .speaker-container{
    flex-direction: column;
  }
  .speaker-photo{
    width: 50%
  }
  .speaker-photo-container2{
    text-align: center;
    margin: 2em 0
  }
  .speaker-title, .speaker-subtitle, .text-stories{
    text-align: center;
  }
  .text-group2{
    text-align: center;
  }
  #main{
    padding-top: 50px
  }
}
