body {
  margin: 0px;
  padding-bottom: 100px;
  background-color: #FBFBFB;
}

h3{
  color: #982297;
  font-size: 1.4em;
}

h5, p {
  color: black;
  text-align:left;
}

h5 {
  margin-bottom: 10px;
  font-size: 0.9em;
}

p {
  margin-bottom: 5px;
  font-size: 1rem
}

ul li {
  font-size: 0.8em;
}

.text-group {
  margin-bottom: 30px;
}

.text-group h3 {
  margin-bottom: 1rem;
  padding-bottom: 0;
}

#logo {
  width:28%;
  margin-top: 60px;
  margin-bottom: 20px;
}

#main {
  color: black;
}

.nav-side-menu {
  overflow: auto;
  background: linear-gradient(45deg,#B614C0,#EB8951);
  position: fixed;
  top: 0px;
  width: 270px;
  height: 100%;
}

.nav-side-menu .brand {
  line-height: 50px;
  display: block;
  text-align: center;
}

.nav-side-menu .toggle-btn {
  display: none;
}

.nav-side-menu li {
  padding: 20px;
  text-align: center;
}

.nav-side-menu li a {
  text-decoration: none;
  color: #E0E0E0; /* light gray */
}

.nav-side-menu li:hover {
  color: white;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

img.photo {
  box-shadow: 0px 0px 5px #E6E6E6;
  padding: 10px;
  border-radius: 3px;
}

/* dayof.html */
.social {
  background-color: #FFF2DD;
  border-radius: 5px;
  padding: 20px 10px;
  margin: 0 40px 20px 0;
}

.social p {
  text-align: center;
}

/* responsiveness */
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }

  #main {
  	width:calc(100% - 300px);
  	float: right;
    padding: 50px 50px 0 50px;
  }
}

@media (max-width: 767px) {
  #main {
    padding-top: 50px;
  }

  #logo {
    width: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h3 {
    line-height: 35px;
  }

  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }

  .nav-side-menu .toggle-btn {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 10 !important;
    padding: 3px;
    color: white;
    text-align: center;
  }

  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }

  #social-media{
    display: none
  }

  .top-column {
    padding-bottom: 50px;
  }
}
