.nav-fixed-top{
  position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

#nav_class{
  position: fixed;
  right: 5%;
  top: 5%;
}

a.nav-item:not(.button):hover {
  color: #F3F3F3;
}

.apply-now {
  border-width: 1.5px;
}

.apply-now:hover,
.apply-now:visited {
  color: #F3F3F3;
  border-color: #F3F3F3;
}

#section1 {
  background: linear-gradient(45deg,  #BC52C3,#F6935A);
  /*background: linear-gradient(45deg,#B614C0,#DC6D1B);*/ /* darker gradient */
  background-repeat:no-repeat;
  background-position: 80% 100%;
  color: white;
}

#section1-title, #section4-title{
  color: white;
}

#section1-title{
  font-size: 80px;
}

.purple{
  color: #982297;
}

.orange{
  color: #EF8261;
  font-size: 2rem
}

#section3-card {
  background: linear-gradient(2deg,#E66B8B, #CA69AA);
  color: white;
}

#section3-stories{
  /*background:  url('../img/jeff-2.png');*/
  background-repeat:no-repeat;
  background-position: 20% 50%;
}

#section4-joinus {
  background: linear-gradient(2deg,#E37E7A, #D76182);
  color: white;
}

#section4-title {
  color: white;
}

#section5-faq {
  background: linear-gradient(2deg, #DA4479,#E37E7A)
}

#section5-faq p {
  color: white;
}

#section6-schedule {
  background: linear-gradient(-5deg,#F5925C,#DA4479);
  /*background:  url('../img/jeff-3.png'), linear-gradient(-5deg,#F5925C,#DA4479);*/
  background-repeat:no-repeat;
  background-position: right center;
  color: white;

}

#section7-title {
  color: #EF8261;
}

.text-large {
  /*24px*/
  font-size: 1.5rem;
}

.text-medium {
  /*18px*/
  font-size: 1.125rem
}

.text-stories {
  margin-bottom: 8rem;
}

.text-small {
  /*16px*/
  font-size: 1rem
}

.column p {
  font-size: 14px
}

ul {
  list-style: none;
}

ul li:before {
  content: "\2023";
  padding-right: 15px
}

@media (max-width:432px) {
  #section1-title{
    font-size: 3.125rem
  }
  .text-small,.text-large,.text-medium{
    /*16px*/
    font-size: 1rem
  }

}

ul.text-large p{
  display: none;
  font-size: 1.25rem;
  padding: 1.25rem
}

#brenna{
  position: absolute;
    width: 13%;
    top: 53%;
    left: 67%
}

#registration{

  background: linear-gradient(45deg,  #BC52C3,#F6935A);
  /*background:  url('../img/jeff-3.png'), linear-gradient(45deg,  #BC52C3,#F6935A);*/
  background-repeat: no-repeat;
  background-position: right 7%
}

#here{
  background-color: #982297
}

#a-purple {
  font-weight: bold;
}

#a-purple:hover {
  color: lightgrey;
}

#a2-purple {
  font-weight:bold;
}

#a2-purple:hover {
  color:lightgrey;
}

#registration-title {
  font-size: 30px;
  color: white;
}

#i-agree:hover{
  color:white;
}

.button {
  padding: 18px 25px;
  border-radius: 50px;
}


/* faq */
.faq-questions {
  margin-left: 100px;
}

@media (max-width: 600px) {
  .faq-questions {
    margin-left: 0;
  }
}


/* sponsors */
.sponsor-logos {
  padding: 60px 0;
}

.silver__sponsors {
  max-width: 310px;
  max-height: 160px;
  padding: 20px 35px;
}

.bronze__sponsors {
  max-width: 220px;
  max-height: 90px;
  padding: 20px 35px;
}

.partner {
  max-width: 220px;
  max-height: 90px;
  padding: 10px 20px;
}


/* footer */
.made-by {
  font-size:12px;
  font-weight:600;
  color:white;
}
