<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>WHACK 2017 Fall Registration</title>
  <link rel="stylesheet" type="text/css" href="../css/bulma.css">
  <link rel="stylesheet" href="../css/style2.css">
  <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
  <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.7.2.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
</head>
<body>
  <section class="hero is-fullheight" id="registration">
    <div class="hero-body">
      <div class="container">

              <div class="tile is-parent">
                <article class="tile is-child box orange">
                  <p style="color:white;text-align:center">Thank you for submiting your application to WHACK Fall 2017!
                  </article>
                </div>
              </div>

            </div>
        </section>

    </body>
