<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>jQuery Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css"/>
  <!-- <link rel="stylesheet" type="text/css" href="../../css/bulma.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="../../css/style2.css"> -->
  <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
</head>
<body>
  <section class="section" id="registration">
  <form id="data" class="container" method="post" name='registration' enctype="multipart/form-data">


    <div class="field">
      <label class="label">First Name*</label>
      <div class="control" id='firstname'>
        <input class="input " name='first_name' id= "first_name" type="text" required>
      </div>
    </div>

    <div class="field">
      <label class="label">Last Name*</label>
      <div class="control">
        <input class="input"  name='last_name' id= "last_name" type="text" required>
      </div>
    </div>

    <div class="field">
      <label class="label">Email*</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" id= "email" name="email" type="email" placeholder="name@college.edu" required>
        <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">School*</label>
      <div class="control">
        <input class="input " id="school" name="school" type="text" required>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input type="checkbox">
          I agree to share my name, email, and school information with MLH</a>
        </label>
      </div>
    </div>

    <div class="field">
      <label class="label">Major(s)*</label>
      <div class="control">
        <input class="input required_input" id="major" type="text" required>
      </div>
    </div>

    <div class="field">
      <label class="label">Graduation Year*</label>
      <div class="control">
        <input class="input required_input" id="graduation_year" type="text" required>
      </div>
    </div>

    <div class="field">
      <label class="label">Ethnicity*</label>
      <div class="control">
        <div class="select required_input" required>
          <select id="ethnicity" >
            <option>Select dropdown</option>
            <option>White or Euro-American</option>
            <option>Black, Afro-Caribbean, or African-American</option>
            <option>LatinX or Hispanic-American</option>
            <option>East Asian or Asian-American</option>
            <option>South Asian or South Asian-American</option>
            <option>Middle Eastern or North African</option>
            <option>Native American or Alaskan Native</option>
            <option>Hawaiian or Pacific Islander</option>
            <option>Not Listed</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">What gender do you identify with?*</label>
      <div class="control">
        <div class="select required_input" required>
          <select id="gender_identity">
            <option>Select dropdown</option>
            <option>Male</option>
            <option>Female</option>
            <option>Non Binary</option>
            <option>Choose Not to Identify</option>
            <option>Other</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">What is your sexual orientation?</label>
      <div class="control">
        <div class="select">
          <select id="sexual_orientation">
            <option>Select dropdown</option>
            <option>Heterosexual</option>
            <option>Homosexual</option>
            <option>Bi-Sexual</option>
            <option>Other</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Resume*</label>
      <div class="control required_input">
        <div class="file">
          <label class="file-label">
            <input class="file-input " id="file-upload"  type="file" required>
            <span class="file-cta">
              <span class="file-icon">
                <i class="fa fa-upload"></i>
              </span>
              <span class="file-label">
                Choose a file…
              </span>
            </span>
          </label>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input type="checkbox">
          I allow WHACK to share my resume with sponsors.
        </label>
      </div>
    </div>

    <div class="field">
      <label class="label">Any useful links</label>
      <div class="control">
        <input class="input" id="links" type="text" placeholder="Linkedin, Github, Dribbble">
      </div>
    </div>

    <div class="field">
      <label class="label">Have you attended WHACK before?*</label>
      <div class="control" required>
        <label  class="required_input" class="checkbox">
          <input  type="checkbox"> Yes, as a participant <br/>
          <input type="checkbox"> Yes, as a volunteer <br/>
          <input type="checkbox"> Yes, as a mentor or corporate representative <br/>
          <input type="checkbox"> No
        </label>
      </div>
    </div>


    <div class="field">
      <label class="label">Will WHACK be your first hackathon?</label>
      <div class="control">
        <label id="first_hackathon" class="checkbox">
          <input type="checkbox"> Yes <br/>
          <input type="checkbox"> No
        </label>
      </div>
    </div>

    <div class="field">
      <label class="label">Do you have any dietary restrictions?*</label>
      <div class="control" required>
        <input class="input required_input" id="dietary_restrictions" type="text">
      </div>
    </div>

    <div class="field">
      <label class="label">Do you require any special accommodations?</label>
      <div class="control">
        <input class="input" id="special_accomodations" type="text">
      </div>
    </div>

    <div class="field">
      <label class="label">WHACK aims to be an inclusive and safe space for all participants. Is there anything you’d like us to know to make your WHACK experience more comfortable?</label>
      <div class="control">
        <textarea class="textarea" id="other_notes" placeholder="Text Area"></textarea>
      </div>
    </div>

    <div class="field">
      <label class="label">WHACK will be following the MLH Code of Conduct. Do you agree to abide by the MLH Code of Conduct?*</label>
      <div class="control" required>
        <label class="checkbox">
          <input type="checkbox"> Yes
        </label>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input type="checkbox">
          I agree to the terms of both the <a href="https://github.com/MLH/mlh-policies/tree/master/prize-terms-and-conditions">MLH Contest Terms and Conditions</a> and the <a href="https://mlh.io/privacy">MLH Privacy Policy</a>. Please note that you may receive pre and post-event informational e-mails and occasional messages about hackathons from MLH as per the MLH Privacy Policy.
        </label>
      </div>
    </div>


    <div class="field is-grouped">
      <div class="control">
        <input type='submit' id="here" class="button is-primary" value="Submit"/>
      </div>
      <div class="control">
        <button class="button is-link">Save</button>
      </div>
    </div>
  </form>

</section>

</body>
<script type="text/javascript">
//$(document).ready() is cross-browser

$(function(){

  document.getElementById('here').onSubmit = function() {
    // Stop form from submitting normally
    event.preventDefault();

    // Get some values from elements on the page:
    var $form = $( this ),
    first_name = document.getElementById('first_name').value,
    last_name =  document.getElementById('last_name').value,
    email = document.getElementById('email').value,
    school = document.getElementById('school').value,
    major =  document.getElementById('major').value,
    graduation_year = document.getElementById('graduation_year').value,
    ethnicity =  document.getElementById('ethnicity').value,
    gender_identity =  document.getElementById('gender_identity').value,
    ethnicity =  document.getElementById('ethnicity').value,
    gender_identity =  document.getElementById('gender_identity').value,
    sexual_orientation = document.getElementById('sexual_orientation').value,
    links =  document.getElementById('links').value,
    first_hackathon =  document.getElementById('first_hackathon').value,
    special_accomodations = document.getElementById('special_accomodations').value,
    other_notes =  document.getElementById('other_notes').value,
    resume = document.getElementById('file-upload').files[0];
    console.log("this is the form gottne");
    url = "http://127.0.0.1:5000/create"
    var data = { 'first_name': first_name,
    'last_name': last_name,
    'email': email,
    'school': school,
    'major': major,
    'graduation_year':graduation_year,
    'ethnicity':ethnicity,
    'gender_identity':gender_identity,
    'sexual_orientation':sexual_orientation,
    'links':links,
    "file_name": resume["name"],
    'first_hackathon': first_hackathon == "Yes" ? true : false,
    'special_accomodations': special_accomodations,
    'other_notes': other_notes
  };
  var newData = new FormData();
  // newData.append('resume',resume);
  for (var key in data) {
    if (data.hasOwnProperty(key)) {
      newData.append(key, data[key]);
    }
  }
  $.ajax( {
    url: url,
    type: 'POST',
    data: newData,
    contentType: false,
    processData: false,
  } );
};
});

</script>
<script src="js/collapsible.js"> </script>
<!-- <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.7.2.min.js"></script> -->


</html>
